# Introduction to Python

Welcome to your guided first steps on Python. In today's lesson, we'll walk you through some of the core concepts of Python, including variables, functions, and logic. We will introduce these concepts in the context of tasks you might often find yourself doing when using Python to work with social data.

# Jupyter Notebooks

Let's start by familarizing ourselves with the app we'll be using to run Python code: the Jupyter Notebook.

Jupyter provides a web-based interactive computing platform where we can use code, narrative text, equations and visualizations. It will allow us to practice python programming. 

Throughout a notebook, you will see this cell or box:

You can write code inside a cell by clicking inside the box to select it.

When we write code in it, we can run it by clicking the run button on the top that looks like a play button.

In [3]:
print(3+5)

8

Another way to run the code on your box is with the keyboard shortcut *Shift + Enter*

In [4]:
print(2+2)

4

When you write code, it can be a good idea to leave a *comment* that explains in plain english what you are doing. In python, you do this by starting a line with the # sign. You can write any text you want after the # sign, and python will ignore it.

In [5]:
# Lines starting with the # sign are comments, which are ignored by python and can contain any text you want.
# The code below adds two numbers and prints the result
print(1+1)

2

To create a new cell, press the "plus" button on the top. This will add a new cell below the currently selected one.

# Variables and Statements

Learning objectives
* Understand what a variable is
* Know the difference between variables and values
* Create a variable
* Do things with a variable

We will first learn to create **variables**. 

A Python variable is a memory space used to store values.

You can think of this memory space as a container. The container is assigned a **name**, and inside of it, it contains a specific value, such as a letter or a number.

A **value** is the fundamental thing (e.g., a letter, a number, a sign or a combination of these) that the program manipulates. For our purposes, we will also refer to them as **objects**.

We can easily draw a comparison to mathematical variables in social science. For example, in a study you might have collected participant's ages. Suppose Participant A is age 29. As a social scientist, you might record this data under the label "Participant_A_Age". In this example, the label "Participant_A_Age" is the *name*, and the actual numerical age, 29, is the *value*.

In Python, we can represent this using the "=" syntax, which assigns a value to a named variable. The name goes on the left side and the value goes on the right side. Variable names can be any combinations of letters, numbers and underscores.

In [6]:
Participant_A_Age = 29

From now on, in any code we write, our notebook will remember the value assigned to the variable "Participant_A_Age". We can therefore use the name "Participant_A_Age" to access the stored value, for example we can print it out:

In [7]:
print(Participant_A_Age)

29

Naming variables and using the function *print* will be enough for us to program the writing of a first simple sentence.  

For example, if I create variables for a participant's identifier and their age, then I can recall these values into a sentence that uses them.

The rest of the text in my sentence, I can include by separating it from the variables with commas and enclosing it in quotation marks. Like so:

In [8]:
age_1= 34
Response_ID = 1
print('Participant', Response_ID, 'is', age_1, 'years old.')

Participant 1 is 34 years old.

# Types of Variables

According to the kind of values that make them up, variables can be of different types.

This is important because different kinds of variables will be subject to different rules and operations.

What kind of variables can you think of? (Hint: consider the different kinds of data you might collect in a study)

*(We'll pause here to let you make some guesses)*

The first type of variables we will look at are those made of **integers** and we will call them *(int)*

An integer is a number that we can count. A whole number. Say, 3. Or 345. Intergers allow us to count the number of whole things we have. 

Fractions (or numbers with decimals) instead are called **floating numbers** *(float)*

A floating number is a fractional number and it allows us to measure the dimension of something. For example, my thumb is 59.32 mm long.

Lastly, we have variables made of letters or text and symbols, and we call those string variables or **strings** *(str)*.

Here are some examples of all three types:

In [9]:
Participant_B_Age = 34 # an int variable
Participant_B_Salary = 42.75 # a float variable
Participant_B_Hometown = "Ithaca" # a str variable

You can use the function *type* to have the notebook tell you what type a variable is.

In [10]:
type(Participant_B_Hometown)

str

The function *type* can also be used with values rather than variable names:

In [11]:
type(52)

int

# Calculations with Variables

How can we have the notebook print how old Participant 1 will be in three years?

We already have a variable for their age. So we can create a new one for their age in three years and have it print out.

In [12]:
Later_Age_1 = age_1 + 3
print(Later_Age_1)

37

This has added an *int variable* with an *int value*.

To multiply we will use the asterix symbol *

In [13]:
b=3*3
print(b)

9

This has multiplied two *int values*.

To divide we will use the slash symbol /.

In [14]:
c=5/2
print(c)

2.5

In this case we divided two *int* values and obtained a *float* one

To square a number we will use the double asterisk symbol `**`.

In [15]:
d=3**2
print(d)

9

Many operations are valid for string values and variables too.

By "adding them" with a '+' we can concatenate them, like blocks into sentences.

I can create a variable made of two string values for my full name. I make sure to separate the string values with quotation marks:

In [16]:
Hometown = 'Saint'+'Louis'

print(Hometown)

SaintLouis

As you can see, the two words have been assembled one next to the other.

I may want to add a space here. What kind of value is a space and how can you add it?

In [17]:
type(' ')

str

In [18]:
Hometown = 'Saint'+' '+'Louis'
print(Hometown)

Saint Louis

Numbers written in between ' ' will show as string variables instead of integers variables.

In [19]:
print('Participat', Response_ID, 'is', '34')

Participat 1 is 34

What would happen if I want to add a string value to an integer value?

In [20]:
e='participant'+ str(1)
print(e)

participant1

# Functions

Learning Objectives:

*   Understand the concept of a function and syntax of a function
*   View examples of methods

A function is like a button, that when pressed (called) will do an action to a variable. 

When we created a variable, we taught the program what value to recall when we write the variable name.

When we create a function, we instead teach the program what action to perform when we write the function name.

To create a function, use the following syntax:
- The keyword "def" (short for "define")
- The name of the function (like variables, can contain letters, numbers, and underscores)
- Parentheses containing one or more *arguments* (we'll explain what this means shortly)
- A colon after the closing parentheses
- One or more lines of code that are indented. These indented lines of code define the actions that will be performed in the function, and are referred to as the function's *body*.

In [21]:
def increase_age(starting_age):
    later_age = starting_age + 3
    print("The age after 3 years will be", later_age)

The above example defines a function that adds 3 to a starting_age and prints the result in a sentence. Importantly, in this definition, starting_age does not refer to a specific variable or value. Instead, it is a placeholder, which in Python is referred to as an *argument*. The idea is that the function represents a "generic" action that can be done to any variable or value. When you call the function (press the button), you have to tell it what *specific* variable or value to act on. You do this typing the function name and then putting the variable or value in parentheses:

In [22]:
increase_age(age_1)

The age after 3 years will be 37

Functions are also able to produce *results* when they are called. This is done using the "return" keyword, and the result can be saved to a variable. To continue the button analogy, think of this as "when you press the button, something comes out":

In [23]:
def celsius_to_fahrenheit(celsius_temp):
    return (9 / 5) * celsius_temp + 32

todays_temperature_C = 32
# the result returned by celsius_to_fahrenheit can be saved to a variable
todays_temperature_F = celsius_to_fahrenheit(todays_temperature_C)
# we can now use this variable in our code, like any other variable
print("Today's temperature is " + str(todays_temperature_C) + " in celsius, which is " + str(todays_temperature_F) + " in fahrenheit")

Today's temperature is 32 in celsius, which is 89.6 in fahrenheit

Functions that return results are very useful when there are calculations that you expect to do multiple times, such as unit conversion like in the example above. By writing the math only once and saving it in a function, you don't need to write the full calculation every time you need it, you just need to call the function, which is much neater.

Exercise: Create user-defined function to convert cm to inches. When running function display result of total inches from cm. Convert the 3 following cm values to inches: 150, 1000, 99

In the previous examples we created our own functions, but there are many already built in functions. 

We have already used a few: *print(), int(), float(), type()*.

Let's use three other examples of built-in functions: *max()*, *min()*, and *round()*.

We can find the maximum value of an integer list with the function *max*.

In [ ]:
max(1, 2, 3)

This function will work with string values too analyzing them in alphabetical order.

In [ ]:
min('a', 'b', 'c')

The built-in function *round()* will round a floating number to the number of decimals of your choosing. 

This specification of how many decimals the function must round up to is called a *parameter*.

Parameters are included in the parenthesis after the function name and are separated by comas:

*function(parameter, parameter)*

To round the floating number 5.389 to 1 decimal, we will do the following:

In [ ]:
round(5.389, 1)

There are also special functions that *belong to* an object, known as **methods**. You can think of a method as "something that the object can do". Different types of objects have different methods. For example, string objects have a method called "upper" which tells the string to turn itself into uppercase. By contrast, integer objects do not have this method, because integers cannot turn themselves into uppercase.

Methods are called by adding a dot *.* after a variable or value, then typing the method name. So for example, if we have a string variable and want to call the "upper" method:

In [ ]:
first_name = 'sam'
first_name_uppercase = first_name.upper() # call the "upper" method of the string variable "first_name"
print(first_name_uppercase)

This method can be used on any string value, not just variables. For example:

In [ ]:
'Sam'.upper()

You can find out what a method does by using the function *help*.

In [ ]:
help(str.upper)

Find our what these other methods do:

*str.replace*

*str.find*

*str.lower*

In [ ]:
help(str.replace)

Great job. Questions so far?



<h1>Lists</h1>

Learning Objectives:
- Understand how to create and modify a list, and what a list can and can't do
- Become familiar with common list methods

A list is an ordered, indexable collection of data. Lets say you're doing a study on the following hometowns: Brooklyn, Atlanta, Hampton, Brentwood, and Lexington.

You could put that data into a list.

To create a list, put your desired values inside square brackets [...],
where each value is separated by a comma ,.

In [ ]:
Hometown_list = ["Brooklyn", "Atlanta", "Hampton", "Brentwood", "Lexington"]
type(Hometown_list)


<h1>Use an item’s index to fetch it from a list.</h1>

- Each value in a list is stored in a particular location.
- Locations are numbered from 0 rather than 1.
- Use the location’s index in square brackets to access the value it contains.

["Brooklyn", "Atlanta", "Hampton", "Brentwood", "Lexington"]

index: 0             1          2          3          4

In [ ]:
print('the first item is:', Hometown_list[0])
print('the fourth item is:', Hometown_list[3])

Lists can be indexed from the back using a negative index.

["Brooklyn", "Atlanta", "Hampton", "Brentwood", "Lexington"]

index: -5 -4 -3 -2 -1

In [ ]:
print(Hometown_list[-1])
print(Hometown_list[-2])

## "Slice" a list using [ : ]

- We can get multiple items from a list using slicing
- Note that the first index is included, while the second is excluded

In [ ]:
print(Hometown_list[1:4])

You can leave the first index blank if you want to start from the beginning of the list. Likewise, you can leave the second index blank if you want to end with the last item in the list.

In [ ]:
print(Hometown_list[:4])

In [ ]:
print(Hometown_list[2:])

## Use index in a string

The same indexing and slicing syntax can also be used to access individual letters in a string!

In [ ]:
Hometown = "New York"
Hometown[1]

Lets get the first eight letters

In [ ]:
Hometown[0:8]

# Changing values in a list
Lists’ values can be replaced by assigning to specific indices.

In [ ]:
Hometown_list[0] = "New York"
print('Hometown List is now:', Hometown_list)

Note, however, that the same does not apply to strings - you cannot change characters in a string with the same syntax. We will explain this more in a later workshop.

In [ ]:
Hometown = "New York"
Hometown[0] = 'C'

## Lists have Methods
- Just like strings have methods, lists do too.
- IPython lets us do tab completion after a dot ('.') to see what an object has to offer.

In [ ]:
Hometown_list.

If you want to append items to the end of a list, use the append method.

In [ ]:
Hometown_list.append("Seattle")
print(Hometown_list)

## Use del to remove items from a list entirely.
- del list_name[index] removes an item from a list and shortens the list.
- Not a function or a method, but a statement in the language.

In [ ]:
print("original list was:", Hometown_list)
del Hometown_list[3]
print("the list is now:", Hometown_list)

## Challenge 2: Index
I've created a (long) list for you below. Use the .index() method to find out what the index number is for Waldo.

Remember, to get help on how to use a method, use the "help" function.

In [ ]:
Wheres_Waldo = ["Anna", "Shad", "Rachel", "Maura", "Jason", "Matt", "Konrad", "Justine", "Sarah", "Laura", \
                "Chelsea", "Nina", "Dierdre", "Julian", "Waldo", "Naniette", "Melissa", "Biz", "Elsa", "Demetria",\
                "Liz", "Olivia", "Will", "Ogi", "Melanie", "Jessica"]
waldo_index = _________________ # fill in the blank
print(waldo_index)

Great Job! Next, we will look into Dictionaries.

## Dictionaries
Learning Objectives:


* What is a dictionary?

* What are the advantages of dictionaries?

* How do I use the content of a dictionary?

* Examining

* Modifying

* Iterating

* Methods


**What is a dictionary?** 

A dictionary is a collection of organized elements in pairs of keys:values.

In [ ]:
subjects_dict = {"Name": "Forough Farrokhzad", 
            "Age": 21,  
            "Response_ID": "1", 
            "Self_Confidence": "Agree Slightly", 
            "surveys": ["DevContext","UseOfSpace","BrainInContext","SocialNutrition"]}

for this reason, dictionaries are also called key-value pairs.

In this example,

the **keys** are **name, age, response_ID, Self_Confidencee** and **surveys**, and everything after the colon are the *values* assigned to that key: *Forough Farrokhzad, 21, 1, Agree Slightly, and ["DevContext","UseOfSpace","BrainInContext","SocialNutrition"]**

Dictionaries are defined with curly brackets holding the key-value pairs, written in the forman key:value and separated by comas.

**When should I use dictionaries and when should I use lists?**

If the data you are storing is complex and hierarchical, the dictionary's key / value structure is very helpful. This is the advantage of dictionaries.

Keys must be unique (there cannot be duplicates of the dictionary with the same key) and they cannot be changed.

Values, on the other hand, can be anything, including strings, intergers, booleans, lists of them or even other dictionaries.

Let's see an example with different data types: strings, booleans, integers and lists.

In [ ]:
Developmental_Context = {
  "City": "Ithaca",
  "Urban": False,
  "Year": 2021,
  "Colleges": ["Cornell University", "Ithaca College"]
}

Here is another example of a dictionary called *valid_dict* containing two other dictionaries *dict_nums* and *dict_ints.*

In [ ]:
valid_dict = {'dict_nums':{1:'one', 2:'two', 3:'three'},
             'dict_ints':{'one':1, 'two':2, 'three':3}}

In this case *'dict_nums'* and *'dict_ints'* are both values of a dictionary, and a dictionary themselves.

While dictionaries can be values in other dictionaries, they cannot be keys:

In [ ]:
invalid_dict = {{1:'one', 2:'two', 3:'three'}:'dict_nums',
             {'one':1, 'two':2, 'three':3}:'dict_ints'}

**Examining a Dictionary**

You can use the function *print* and the methods *.values* and *.keys* to see the content of your dictionary.

Let's use this on our first example:

In [ ]:
print(subjects_dict)

In [ ]:
print(subjects_dict.keys())

In [ ]:
print(subjects_dict.values())

You may want your notebook to show you a specific element from your dictionary. You can use the indexing syntax (square brackets) to look up what value goes with a specific key, like so:

In [ ]:
subjects_dict["Self_Confidence"]

**Other methods and functions for Dictionaries**

The method .items can come in handy with dictionaries. What do you think it does?

In [ ]:
subjects_dict.items()

If you want to know how many pairs there are in a dictionary, use len:

In [ ]:
print(len(subjects_dict))

# Conditionals
Learning Objectives:

- Being more specific with your data: 

  * Correctly write programs that use if and else statements and simple Boolean expressions (without logical operators).
  * Trace the execution of unnested conditionals and conditionals inside loops.

Keypoints:
 - Use if statements to control whether or not a block of code is executed.
 - Conditionals are often used inside loops.
 - Use else to execute a block of code when an if condition is not true.
 - Use elif to specify additional tests.
 - Conditions are tested once, in order.

## Use if statements to control whether or not a block of code is executed.
- An if statement (more properly called a conditional statement) controls whether some block of code is executed or not.
- Structure is similar to a for statement:
 - First line opens with if, contains a Boolean variable or expression, and ends with a colon
 - Body containing one or more statements is indented (usually by 4 spaces)

In [ ]:
age_1 = 23
if age > 21
    print('Being ' + str(age_1) + ', participant 1 is of age.')

In [ ]:
age_2 = 18
if age_2 < 21:
    print ('Being ' + str(age_2) + ', participant 2 is under age.')

# Conditionals are often used inside loops.
- Not much point using a conditional when we know the value (as above).
- But useful when we have a collection to process.

In [ ]:
# select values that are underage

ages = [21, 19, 18, 21, 20]
for age in ages:
    if age < 21:
        print(age, 'is in underage group')

## Use else to execute a block of code when an if condition is not true.
- else is always attached to if.
- Allows us to specify an alternative to execute when the if branch isn't taken.

In [ ]:
ages = [21, 19, 18, 21, 20]
for age in ages:
    if age < 21:
        print(age, 'is in underage group')
    else:
        print(age, 'is not in underage group')

# Use elif to specify additional tests.
- May want to provide several alternative choices, each with its own test.
- Use elif (short for "else if") and a condition to specify these.
- Always associated with an if.
- Must come before the else (which is the "catch all").

In [ ]:
ages = [18, 88, 23, 97, 34]
for age in ages:
    if age > 65:
        print(age, 'is in elders group')
    elif age > 21:
        print(age, 'is in adult group')
    else:
        print(age, 'is in teenagers group')

## Challenge 1: Recoding the variable
In the previous example, we just printed out the name of the group. Try using the accumulator pattern instead to create a new list containing the age groups. (This is known in social science as *recoding* and is commonly used to turn numerical data into categorical data)

In [ ]:
ages = [18, 88, 23, 97, 34]
result = ___________
for age in ages:
    if age > 65:
        _____________________
    elif age > 21:
        _____________________
    else:
        _____________________
print(result)


# Reading from a file
Reading a file requires three steps:

1. Opening the file: open function
2. Reading the file: read function
3. Closing the file: close function

In [24]:
my_file = open('survey_responses_small.csv', "r") # open takes two arguments: the location of the file to open, and the mode (see below for details)
text = my_file.read()
my_file.close()

print(text)

ï»¿Time_Stamp,Year,Month,Response_ID,Hunger_Experience,Moving_Times,Self_Confidence,Hometown,Age,Parental_Income,Race_Ethnicity,School_Year,Transfer_Student,College,Gender_Identity,Sex,Living_Location,
4/14/2021 19:43,2021,April,1,No,1,Agree slightly,"Coconut Grove, Florida 33133",20,"More than $750,000",White (of European descent),2nd year undergraduate,No,College of Human Ecology,Woman,Female,Off campus,
4/15/2021 11:30,2021,April,2,No,1,Agree slightly,"Brooklyn, New York 11225",20,"Below $40,000",Black,3rd year undergraduate,No,College of Human Ecology,Woman,Female,Off campus,
4/15/2021 13:00,2021,April,3,No,5,Agree somewhat,"Roslyn Heights, New York 11577",21,"More than $750,000",Asian,3rd year undergraduate,No,College of Agriculture and Life Sciences,Woman,Female,Off campus,
4/15/2021 14:01,2021,April,4,No,1,Agree slightly,"Rye Brook, New York 10573",19,"More than $750,000",White (of European descent),2nd year undergraduate,No,College of Human Ecology,Woman,Female,On campus,
4/15/2021 14:31,2021,April,5,No,0,Agree somewhat,"San Antonio, Texas 78218",21,"$100,000 - $174,999","White (of European descent),Hispanic",4th year undergraduate,No,College of Arts and Sciences,Woman,Female,Off campus,
4/15/2021 14:30,2021,April,6,No,2,Agree strongly,Shanghai (China) 200127,18,"$175,000 - $299,999",Asian,1st year undergraduate,No,College of Engineering,Woman,Female,Off campus,
4/15/2021 15:18,2021,April,7,No,0,Agree slightly,"New York, New York 10075",21,"$100,000 - $174,999",White (of European descent),4th year undergraduate,No,College of Agriculture and Life Sciences,Woman,Female,Off campus,
4/15/2021 15:25,2021,April,8,Don't know,0,Don't know / not applicable,cupertino,20,"More than $750,000",Asian,3rd year undergraduate,No,College of Engineering,Woman,Female,Off campus,
4/15/2021 15:42,2021,April,9,No,5,Agree slightly,"Santa Rosa, California, 95405",22,"$175,000 - $299,999",Asian,4th year undergraduate,No,School of Industrial and Labor Relations,Woman,Female,Off campus,
4/15/2021 17:34,2021,April,10,No,2,Don't know / not applicable,"Atlanta, Georgia 30327",21,"More than $750,000",White (of European descent),3rd year undergraduate,No,College of Engineering,Woman,Female,Off campus,
4/15/2021 18:02,2021,April,11,No,3,Agree somewhat,"Long Island, NY",23,"$300,000 - $499,999",Asian,4th year undergraduate,No,College of Agriculture and Life Sciences,Man,Male,Off campus,
4/15/2021 20:43,2021,April,12,No,1,Agree slightly,"La Jolla, CA 92037",20,"$500,000 - $749,999","American Indian or Alaskan Native,White (of European descent)",3rd year undergraduate,No,College of Arts and Sciences,Man,Male,Off campus,
4/16/2021 10:49,2021,April,13,No,0,Agree somewhat,"Cambridge, MA 02139",21,"$40,000 - $59,999",Middle Eastern,4th year undergraduate,Yes,College of Arts and Sciences,Woman,Female,Off campus,
4/16/2021 10:58,2021,April,14,No,1,Disagree slightly,"Horseheads, NY 14845",19,"$100,000 - $174,999","White (of European descent),Black",1st year undergraduate,No,College of Human Ecology,Woman,Female,On campus,
4/16/2021 17:52,2021,April,15,No,2,Agree slightly,No,19,"$40,000 - $59,999",White (of European descent),2nd year undergraduate,No,School of Industrial and Labor Relations,Man,Male,On campus,
4/17/2021 14:10,2021,April,16,No,0,Agree strongly,"Hampton, NH 03842",20,"$100,000 - $174,999",White (of European descent),3rd year undergraduate,Yes,College of Human Ecology,Woman,Female,Off campus,
4/18/2021 18:41,2021,April,17,No,3,Disagree slightly,"Tambo, Paranaque City, Manila, Philippines",22,"$40,000 - $59,999",Asian,4th year undergraduate,Yes,College of Human Ecology,Woman,Female,Off campus,
4/19/2021 14:53,2021,April,18,No,3,Agree somewhat,"New York, NY, 10021",20,"More than $750,000","White (of European descent),Hispanic",2nd year undergraduate,No,College of Agriculture and Life Sciences,Woman,Female,Off campus,
4/19/2021 20:37,2021,April,19,No,1,Agree slightly,"Roslyn, NY 11577",19,"$300,000 - $499,999",White (of European descent),2nd year undergraduate,No,College of Engineering,Woman,Female,On campus,
4/20/2021 18:04,2021,April,20,No,1,Agree slightly,"Brentwood, California 94513",21,"$175,000 - $299,999",White (of European descent),3rd year undergraduate,No,College of Agriculture and Life Sciences,Woman,Female,Off campus,

However, use the with open syntax and this will automatically close files for you.
The 'r' indicates that you are reading the file, as opposed to, say, writing to it.

In [25]:
# better code
with open('survey_responses_small.csv', 'r') as my_file:
    text = my_file.read()
    
print(text)

#note that we are also reading the column names as the first line and we will deal with this issue later

ï»¿Time_Stamp,Year,Month,Response_ID,Hunger_Experience,Moving_Times,Self_Confidence,Hometown,Age,Parental_Income,Race_Ethnicity,School_Year,Transfer_Student,College,Gender_Identity,Sex,Living_Location,
4/14/2021 19:43,2021,April,1,No,1,Agree slightly,"Coconut Grove, Florida 33133",20,"More than $750,000",White (of European descent),2nd year undergraduate,No,College of Human Ecology,Woman,Female,Off campus,
4/15/2021 11:30,2021,April,2,No,1,Agree slightly,"Brooklyn, New York 11225",20,"Below $40,000",Black,3rd year undergraduate,No,College of Human Ecology,Woman,Female,Off campus,
4/15/2021 13:00,2021,April,3,No,5,Agree somewhat,"Roslyn Heights, New York 11577",21,"More than $750,000",Asian,3rd year undergraduate,No,College of Agriculture and Life Sciences,Woman,Female,Off campus,
4/15/2021 14:01,2021,April,4,No,1,Agree slightly,"Rye Brook, New York 10573",19,"More than $750,000",White (of European descent),2nd year undergraduate,No,College of Human Ecology,Woman,Female,On campus,
4/15/2021 14:31,2021,April,5,No,0,Agree somewhat,"San Antonio, Texas 78218",21,"$100,000 - $174,999","White (of European descent),Hispanic",4th year undergraduate,No,College of Arts and Sciences,Woman,Female,Off campus,
4/15/2021 14:30,2021,April,6,No,2,Agree strongly,Shanghai (China) 200127,18,"$175,000 - $299,999",Asian,1st year undergraduate,No,College of Engineering,Woman,Female,Off campus,
4/15/2021 15:18,2021,April,7,No,0,Agree slightly,"New York, New York 10075",21,"$100,000 - $174,999",White (of European descent),4th year undergraduate,No,College of Agriculture and Life Sciences,Woman,Female,Off campus,
4/15/2021 15:25,2021,April,8,Don't know,0,Don't know / not applicable,cupertino,20,"More than $750,000",Asian,3rd year undergraduate,No,College of Engineering,Woman,Female,Off campus,
4/15/2021 15:42,2021,April,9,No,5,Agree slightly,"Santa Rosa, California, 95405",22,"$175,000 - $299,999",Asian,4th year undergraduate,No,School of Industrial and Labor Relations,Woman,Female,Off campus,
4/15/2021 17:34,2021,April,10,No,2,Don't know / not applicable,"Atlanta, Georgia 30327",21,"More than $750,000",White (of European descent),3rd year undergraduate,No,College of Engineering,Woman,Female,Off campus,
4/15/2021 18:02,2021,April,11,No,3,Agree somewhat,"Long Island, NY",23,"$300,000 - $499,999",Asian,4th year undergraduate,No,College of Agriculture and Life Sciences,Man,Male,Off campus,
4/15/2021 20:43,2021,April,12,No,1,Agree slightly,"La Jolla, CA 92037",20,"$500,000 - $749,999","American Indian or Alaskan Native,White (of European descent)",3rd year undergraduate,No,College of Arts and Sciences,Man,Male,Off campus,
4/16/2021 10:49,2021,April,13,No,0,Agree somewhat,"Cambridge, MA 02139",21,"$40,000 - $59,999",Middle Eastern,4th year undergraduate,Yes,College of Arts and Sciences,Woman,Female,Off campus,
4/16/2021 10:58,2021,April,14,No,1,Disagree slightly,"Horseheads, NY 14845",19,"$100,000 - $174,999","White (of European descent),Black",1st year undergraduate,No,College of Human Ecology,Woman,Female,On campus,
4/16/2021 17:52,2021,April,15,No,2,Agree slightly,No,19,"$40,000 - $59,999",White (of European descent),2nd year undergraduate,No,School of Industrial and Labor Relations,Man,Male,On campus,
4/17/2021 14:10,2021,April,16,No,0,Agree strongly,"Hampton, NH 03842",20,"$100,000 - $174,999",White (of European descent),3rd year undergraduate,Yes,College of Human Ecology,Woman,Female,Off campus,
4/18/2021 18:41,2021,April,17,No,3,Disagree slightly,"Tambo, Paranaque City, Manila, Philippines",22,"$40,000 - $59,999",Asian,4th year undergraduate,Yes,College of Human Ecology,Woman,Female,Off campus,
4/19/2021 14:53,2021,April,18,No,3,Agree somewhat,"New York, NY, 10021",20,"More than $750,000","White (of European descent),Hispanic",2nd year undergraduate,No,College of Agriculture and Life Sciences,Woman,Female,Off campus,
4/19/2021 20:37,2021,April,19,No,1,Agree slightly,"Roslyn, NY 11577",19,"$300,000 - $499,999",White (of European descent),2nd year undergraduate,No,College of Engineering,Woman,Female,On campus,
4/20/2021 18:04,2021,April,20,No,1,Agree slightly,"Brentwood, California 94513",21,"$175,000 - $299,999",White (of European descent),3rd year undergraduate,No,College of Agriculture and Life Sciences,Woman,Female,Off campus,

# Reading a file as a list

Very often we want to read in a file line by line, storing those lines as a list.

To do that, we can use a for loop over the file object:

In [27]:
stored = []
with open('survey_responses_small.csv', 'r') as my_file:
    for line in my_file:
        stored.append(line)

In [28]:
stored

['ï»¿Time_Stamp,Year,Month,Response_ID,Hunger_Experience,Moving_Times,Self_Confidence,Hometown,Age,Parental_Income,Race_Ethnicity,School_Year,Transfer_Student,College,Gender_Identity,Sex,Living_Location,\n',
 '4/14/2021 19:43,2021,April,1,No,1,Agree slightly,"Coconut Grove, Florida 33133",20,"More than $750,000",White (of European descent),2nd year undergraduate,No,College of Human Ecology,Woman,Female,Off campus,\n',
 '4/15/2021 11:30,2021,April,2,No,1,Agree slightly,"Brooklyn, New York 11225",20,"Below $40,000",Black,3rd year undergraduate,No,College of Human Ecology,Woman,Female,Off campus,\n',
 '4/15/2021 13:00,2021,April,3,No,5,Agree somewhat,"Roslyn Heights, New York 11577",21,"More than $750,000",Asian,3rd year undergraduate,No,College of Agriculture and Life Sciences,Woman,Female,Off campus,\n',
 '4/15/2021 14:01,2021,April,4,No,1,Agree slightly,"Rye Brook, New York 10573",19,"More than $750,000",White (of European descent),2nd year undergraduate,No,College of Human Ecology,Woman,Female,On campus,\n',
 '4/15/2021 14:31,2021,April,5,No,0,Agree somewhat,"San Antonio, Texas 78218",21,"$100,000 - $174,999","White (of European descent),Hispanic",4th year undergraduate,No,College of Arts and Sciences,Woman,Female,Off campus,\n',
 '4/15/2021 14:30,2021,April,6,No,2,Agree strongly,Shanghai (China) 200127,18,"$175,000 - $299,999",Asian,1st year undergraduate,No,College of Engineering,Woman,Female,Off campus,\n',
 '4/15/2021 15:18,2021,April,7,No,0,Agree slightly,"New York, New York 10075",21,"$100,000 - $174,999",White (of European descent),4th year undergraduate,No,College of Agriculture and Life Sciences,Woman,Female,Off campus,\n',
 '4/15/2021 15:25,2021,April,8,Don\'t know,0,Don\'t know / not applicable,cupertino,20,"More than $750,000",Asian,3rd year undergraduate,No,College of Engineering,Woman,Female,Off campus,\n',
 '4/15/2021 15:42,2021,April,9,No,5,Agree slightly,"Santa Rosa, California, 95405",22,"$175,000 - $299,999",Asian,4th year undergraduate,No,School of Industrial and Labor Relations,Woman,Female,Off campus,\n',
 '4/15/2021 17:34,2021,April,10,No,2,Don\'t know / not applicable,"Atlanta, Georgia 30327",21,"More than $750,000",White (of European descent),3rd year undergraduate,No,College of Engineering,Woman,Female,Off campus,\n',
 '4/15/2021 18:02,2021,April,11,No,3,Agree somewhat,"Long Island, NY",23,"$300,000 - $499,999",Asian,4th year undergraduate,No,College of Agriculture and Life Sciences,Man,Male,Off campus,\n',
 '4/15/2021 20:43,2021,April,12,No,1,Agree slightly,"La Jolla, CA 92037",20,"$500,000 - $749,999","American Indian or Alaskan Native,White (of European descent)",3rd year undergraduate,No,College of Arts and Sciences,Man,Male,Off campus,\n',
 '4/16/2021 10:49,2021,April,13,No,0,Agree somewhat,"Cambridge, MA 02139",21,"$40,000 - $59,999",Middle Eastern,4th year undergraduate,Yes,College of Arts and Sciences,Woman,Female,Off campus,\n',
 '4/16/2021 10:58,2021,April,14,No,1,Disagree slightly,"Horseheads, NY 14845",19,"$100,000 - $174,999","White (of European descent),Black",1st year undergraduate,No,College of Human Ecology,Woman,Female,On campus,\n',
 '4/16/2021 17:52,2021,April,15,No,2,Agree slightly,No,19,"$40,000 - $59,999",White (of European descent),2nd year undergraduate,No,School of Industrial and Labor Relations,Man,Male,On campus,\n',
 '4/17/2021 14:10,2021,April,16,No,0,Agree strongly,"Hampton, NH 03842",20,"$100,000 - $174,999",White (of European descent),3rd year undergraduate,Yes,College of Human Ecology,Woman,Female,Off campus,\n',
 '4/18/2021 18:41,2021,April,17,No,3,Disagree slightly,"Tambo, Paranaque City, Manila, Philippines",22,"$40,000 - $59,999",Asian,4th year undergraduate,Yes,College of Human Ecology,Woman,Female,Off campus,\n',
 '4/19/2021 14:53,2021,April,18,No,3,Agree somewhat,"New York, NY, 10021",20,"More than $750,000","White (of European descent),Hispanic",2nd year undergraduate,No,College of Agriculture and Life Sciences,Woman,Female,Off campus,\n',
 '4/19/2021 20:37,2021,April,19,No,1,Agree slightly,"Roslyn, NY 11577",19,"$300,000 - $499,999",White (of European descent),2nd year undergraduate,No,College of Engineering,Woman,Female,On campus,\n',
 '4/20/2021 18:04,2021,April,20,No,1,Agree slightly,"Brentwood, California 94513",21,"$175,000 - $299,999",White (of European descent),3rd year undergraduate,No,College of Agriculture and Life Sciences,Woman,Female,Off campus,\n']

# Writing to a file

We can use the with open syntax for writing files as well.

In [29]:
hometowns = ['Pasadena', 'Pensacola', 'Panama']
with open('output.csv', 'w') as new_file:
    for i in hometowns:
        new_file.write(i + '\n')

If you look in the file browser, you'll see that the new file has been created! Let's take a look at the file.

## Markdown

Helpful Link:
https://jupyter-notebook.readthedocs.io/en/stable/examples/Notebook/Working%20With%20Markdown%20Cells.html