# Pandas

pandas is a software package written for the Python programming language for data manipulation and analysis. In particular, it offers data structures and operations for manipulating tabular data and time series.

## Learning objective

Learn how to use pandas to work through the steps social scientists often take to process and analyze raw data

## 1. Import pandas

To begin, let's look at a few ways to import pandas

In [2]:
# import specific classes and functions: useful if you know you'll only be needing the most common parts of pandas
from pandas import DataFrame, read_csv

# General syntax to import a package but no functions: 
#   import (package) as (give the package a nickname/alias)
# Most pandas users will import the entire package and give it the short nickname "pd" as follows:
import pandas as pd

## 2. Data example

As an example, we'll be working with a dataset containing responses from a survey. The survey specifically asked the following questions:

TODO get question text from Sam

Now let's take a look at how participants' responses are represented in the dataset.

## 3. Import csv data

As mentioned in the introduction, pandas is designed to work with tabular data. Tabluar data is most commonly provided to researchers in a simple spreadsheet format known as csv, which stands for *comma separated values*. Because of this, pandas has a function to load tabular data from a csv file:  `read_csv`. The most basic way to use the `read_csv` function is to simply give it the path to the csv file you want to load. Here, we will load the example survey data, which is contained in the file "survey_responses.csv" in our GitHub repo:

In [4]:
# The following path is valid for our Binder setup. If you are running this notebook in your local machine instead and have the file downloaded to a different location, you may need to change this path.
Location = './data/survey_responses.csv'
df = pd.read_csv(Location)

`read_csv` loads the data into a structure known as a **DataFrame**, as we can see if we check the type of the variable `df` that we created:

In [5]:
type(df)

pandas.core.frame.DataFrame

Think of a **DataFrame** as a table or spreadsheet that you can work with inside your Python code! Like any table, it contains data organized into rows and columns.

Now you might be wondering what the data actually looks like. The best way to find out is to use the `display` function, which will show a sample of data from the DataFrame. This is always the first thing you should do after loading a new dataset in pandas!

In [6]:
display(df)

,Time_Stamp,Year,Month,Response_ID,Hunger_Experience,Moving_Times,Self_Confidence,Hometown,Age,Parental_Income,Race_Ethnicity,School_Year,Transfer_Student,College,Gender_Identity,Sex,Living_Location,Unnamed: 17
0,4/14/2021 19:43,2021,April,1,No,1,Agree slightly,"Coconut Grove, Florida 33133",20.0,"More than $750,000",White (of European descent),2nd year undergraduate,No,College of Human Ecology,Woman,Female,Off campus,NaN
1,4/15/2021 11:30,2021,April,2,No,1,Agree slightly,"Brooklyn, New York 11225",20.0,"Below $40,000",Black,3rd year undergraduate,No,College of Human Ecology,Woman,Female,Off campus,NaN
2,4/15/2021 13:00,2021,April,3,No,5,Agree somewhat,"Roslyn Heights, New York 11577",21.0,"More than $750,000",Asian,3rd year undergraduate,No,College of Agriculture and Life Sciences,Woman,Female,Off campus,NaN
3,4/15/2021 14:01,2021,April,4,No,1,Agree slightly,"Rye Brook, New York 10573",19.0,"More than $750,000",White (of European descent),2nd year undergraduate,No,College of Human Ecology,Woman,Female,On campus,NaN
4,4/15/2021 14:31,2021,April,5,No,0,Agree somewhat,"San Antonio, Texas 78218",21.0,"$100,000 - $174,999","White (of European descent),Hispanic",4th year undergraduate,No,College of Arts and Sciences,Woman,Female,Off campus,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
894,5/19/2022 17:17,2022,May,895,No,2,Agree somewhat,"Boca Raton, Florida 33496",19.0,"$175,000 - $299,999","White (of European descent),Hispanic,Middle Ea...",1st year undergraduate,No,College of Arts and Sciences,Woman,Female,On campus,NaN
895,5/19/2022 19:26,2022,May,896,Yes,4,Agree somewhat,"Harrison, New York, 10528",20.0,"$175,000 - $299,999",Hispanic,2nd year undergraduate,Yes,College of Human Ecology,Woman,Female,On campus,NaN
896,5/20/2022 7:13,2022,May,897,No,1,Agree slightly,"Guangzhou, Guangdong, China 510335",19.0,"$300,000 - $499,999",Asian,1st year undergraduate,No,College of Human Ecology,Woman,Female,On campus,NaN
897,5/19/2022 17:22,2022,May,898,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
898,5/19/2022 8:42,2022,May,899,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Notice that the top row and the leftmost column are special. The top row is bolded and contains text that looks different from the rest of the table; this is because it is the *header* of the DataFrame. The header does not contain real data; instead, it contains the names of each column. Meanwhile, the leftmost column does not have a name and simply contains consecutive numbers [0,1,2,3,4,...]. This is the *index* of the DataFrame; by default this works likes row numbers in an Excel file, but more generally you can think of the index as containing the name of each row. This index is also similar to the primary key of a sql table with the exception that an index is allowed to have duplicates.

You might be wondering where the header and index came from. In pandas, the default behavior is to do the following:
- Treat the first row of the CSV file as the header
- Create an index from scratch containing consecutive numbers

But this behavior is customizable via parameters in `read_csv`, and you may need to customize it depending on what your CSV file looks like. In this case, you might have noticed that the file already contains a column that looks like an index ("Response_ID"), which means that pandas' automatically-generated index is redundant. Therefore, we might want to tell pandas to use the "Response_ID" column as the index. We can do this using the `index_col` parameter of `read_csv`:

In [9]:
df = pd.read_csv(Location, index_col="Response_ID")

In [10]:
display(df)

,Time_Stamp,Year,Month,Hunger_Experience,Moving_Times,Self_Confidence,Hometown,Age,Parental_Income,Race_Ethnicity,School_Year,Transfer_Student,College,Gender_Identity,Sex,Living_Location,Unnamed: 17
Response_ID,,,,,,,,,,,,,,,,,
1,4/14/2021 19:43,2021,April,No,1,Agree slightly,"Coconut Grove, Florida 33133",20.0,"More than $750,000",White (of European descent),2nd year undergraduate,No,College of Human Ecology,Woman,Female,Off campus,NaN
2,4/15/2021 11:30,2021,April,No,1,Agree slightly,"Brooklyn, New York 11225",20.0,"Below $40,000",Black,3rd year undergraduate,No,College of Human Ecology,Woman,Female,Off campus,NaN
3,4/15/2021 13:00,2021,April,No,5,Agree somewhat,"Roslyn Heights, New York 11577",21.0,"More than $750,000",Asian,3rd year undergraduate,No,College of Agriculture and Life Sciences,Woman,Female,Off campus,NaN
4,4/15/2021 14:01,2021,April,No,1,Agree slightly,"Rye Brook, New York 10573",19.0,"More than $750,000",White (of European descent),2nd year undergraduate,No,College of Human Ecology,Woman,Female,On campus,NaN
5,4/15/2021 14:31,2021,April,No,0,Agree somewhat,"San Antonio, Texas 78218",21.0,"$100,000 - $174,999","White (of European descent),Hispanic",4th year undergraduate,No,College of Arts and Sciences,Woman,Female,Off campus,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
895,5/19/2022 17:17,2022,May,No,2,Agree somewhat,"Boca Raton, Florida 33496",19.0,"$175,000 - $299,999","White (of European descent),Hispanic,Middle Ea...",1st year undergraduate,No,College of Arts and Sciences,Woman,Female,On campus,NaN
896,5/19/2022 19:26,2022,May,Yes,4,Agree somewhat,"Harrison, New York, 10528",20.0,"$175,000 - $299,999",Hispanic,2nd year undergraduate,Yes,College of Human Ecology,Woman,Female,On campus,NaN
897,5/20/2022 7:13,2022,May,No,1,Agree slightly,"Guangzhou, Guangdong, China 510335",19.0,"$300,000 - $499,999",Asian,1st year undergraduate,No,College of Human Ecology,Woman,Female,On campus,NaN
898,5/19/2022 17:22,2022,May,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
899,5/19/2022 8:42,2022,May,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Notice that pandas is no longer generating a redundant index column; instead, "Response_ID" is being treated as the index, as evidenced by the fact that it has been moved to the left and bolded.

This was just one example of how you might need to adjust your usage of `read_csv` depending on what's inside your file. There are other common scenarios, for example some CSV files don't have a header. We won't go into that in detail here, but again, remember you can use the `help` function to see what parameters are available to you.

In [ ]:
help(read_csv)

One last thing we want to point out before we move on: notice that in some cells in the table contain the strange-looking data "NaN". NaN is short for "Not A Number" and is pandas' way of representing *missing data*. Think of NaNs as equivalent to an empty cell in an Excel file. The meaning of missing data depends on the context of the dataset. In this case, since this data is from a survey and each column represents a survey question, we can infer that in this case missing data means that the survey taker did not give an answer for that question. In research, we often want to do something special to handle missing data; we will return to this later in the workshop.

## 4. Checking the structure of the data
Usually we first do a couple of sanity checks to make sure the data we imported is in good shape and understand its high level structure. 

Usually we make sure the data type of each variable is sensible, check the total number of observations, and the number of variables in the data set.

Let's take a look at the example data set. First, we'll check data types using the `dtypes` variable.

In [11]:
# Check data type of the columns
df.dtypes

Time_Stamp            object
Year                   int64
Month                 object
Hunger_Experience     object
Moving_Times          object
Self_Confidence       object
Hometown              object
Age                  float64
Parental_Income       object
Race_Ethnicity        object
School_Year           object
Transfer_Student      object
College               object
Gender_Identity       object
Sex                   object
Living_Location       object
Unnamed: 17          float64
dtype: object

Next we'll check the number of observations (rows) in the dataset. This can be done by examining the length of the DataFrame's *index*:

In [12]:
len(df.index)

899

Similarly, we can check the number of variables (columns) in the dataset by examining the length of the DataFrame's *columns* list:

In [13]:
len(df.columns)

17

## 5. Slicing and Indexing
Usually, we will not be working with an entire data set all at the same time. Instead, we usually want to pick out specific rows or columns to analyze and work with. In pandas, this can be done using *slicing and indexing*.

The most basic indexing operation is selecting a specific column. This can be done using standard Python indexing syntax (square brackets) and giving it the name of the column you want. For example, the following code will select the "Age" column:

In [15]:
age_column = df['Age']
display(age_column)

Response_ID
1      20.0
2      20.0
3      21.0
4      19.0
5      21.0
       ...
895    19.0
896    20.0
897    19.0
898     NaN
899     NaN
Name: Age, Length: 899, dtype: float64

The syntax for selecting a row is similar, except that you need to tell pandas that you are trying to access a row, since indexing defaults to columns. To do this, use the `loc` variable:

In [16]:
fifth_row = df.loc[5]
display(fifth_row)

Time_Stamp                                4/15/2021 14:31
Year                                                 2021
Month                                               April
Hunger_Experience                                      No
Moving_Times                                            0
Self_Confidence                            Agree somewhat
Hometown                         San Antonio, Texas 78218
Age                                                  21.0
Parental_Income                       $100,000 - $174,999
Race_Ethnicity       White (of European descent),Hispanic
School_Year                        4th year undergraduate
Transfer_Student                                       No
College                      College of Arts and Sciences
Gender_Identity                                     Woman
Sex                                                Female
Living_Location                                Off campus
Unnamed: 17                                           NaN
Name: 5, dtype: object

Both row indexing and column indexing allow you to select multiple rows or columns at once. To do this, you can provide a **list** of row or column names, instead of just one:

In [17]:
multi_columns = df[['Age', 'Living_Location']]
display(multi_columns)

              Age Living_Location
Response_ID
1            20.0      Off campus
2            20.0      Off campus
3            21.0      Off campus
4            19.0       On campus
5            21.0      Off campus
...           ...             ...
895          19.0       On campus
896          20.0       On campus
897          19.0       On campus
898           NaN             NaN
899           NaN             NaN

[899 rows x 2 columns]

In [18]:
multi_rows = df.loc[[1,2,3,4]]
display(multi_rows)

,Time_Stamp,Year,Month,Hunger_Experience,Moving_Times,Self_Confidence,Hometown,Age,Parental_Income,Race_Ethnicity,School_Year,Transfer_Student,College,Gender_Identity,Sex,Living_Location,Unnamed: 17
Response_ID,,,,,,,,,,,,,,,,,
1,4/14/2021 19:43,2021,April,No,1,Agree slightly,"Coconut Grove, Florida 33133",20.0,"More than $750,000",White (of European descent),2nd year undergraduate,No,College of Human Ecology,Woman,Female,Off campus,NaN
2,4/15/2021 11:30,2021,April,No,1,Agree slightly,"Brooklyn, New York 11225",20.0,"Below $40,000",Black,3rd year undergraduate,No,College of Human Ecology,Woman,Female,Off campus,NaN
3,4/15/2021 13:00,2021,April,No,5,Agree somewhat,"Roslyn Heights, New York 11577",21.0,"More than $750,000",Asian,3rd year undergraduate,No,College of Agriculture and Life Sciences,Woman,Female,Off campus,NaN
4,4/15/2021 14:01,2021,April,No,1,Agree slightly,"Rye Brook, New York 10573",19.0,"More than $750,000",White (of European descent),2nd year undergraduate,No,College of Human Ecology,Woman,Female,On campus,NaN

If a DataFrame's index is numerical (as it is both in our case and in the default settings), Python's **slicing** syntax can also be used to select a range of rows. This can simplify your code a lot because you can specify a range rather than writing out full list of indices! For example, the following code is equivalent to the previous code:

In [19]:
multi_rows = df.loc[1:4] # important difference from regular python: pandas slices include *both* indices!
display(multi_rows)

,Time_Stamp,Year,Month,Hunger_Experience,Moving_Times,Self_Confidence,Hometown,Age,Parental_Income,Race_Ethnicity,School_Year,Transfer_Student,College,Gender_Identity,Sex,Living_Location,Unnamed: 17
Response_ID,,,,,,,,,,,,,,,,,
1,4/14/2021 19:43,2021,April,No,1,Agree slightly,"Coconut Grove, Florida 33133",20.0,"More than $750,000",White (of European descent),2nd year undergraduate,No,College of Human Ecology,Woman,Female,Off campus,NaN
2,4/15/2021 11:30,2021,April,No,1,Agree slightly,"Brooklyn, New York 11225",20.0,"Below $40,000",Black,3rd year undergraduate,No,College of Human Ecology,Woman,Female,Off campus,NaN
3,4/15/2021 13:00,2021,April,No,5,Agree somewhat,"Roslyn Heights, New York 11577",21.0,"More than $750,000",Asian,3rd year undergraduate,No,College of Agriculture and Life Sciences,Woman,Female,Off campus,NaN
4,4/15/2021 14:01,2021,April,No,1,Agree slightly,"Rye Brook, New York 10573",19.0,"More than $750,000",White (of European descent),2nd year undergraduate,No,College of Human Ecology,Woman,Female,On campus,NaN

Additionally, we may sometimes want to pick out a **single** value from the DataFrame. For example, suppose we want to find the Age in the fifth row. We can do this by giving both a row and column to the `loc` indexer. Note that the row and column **must** be given in that order (you cannot give the column first) and should be separated by a comma, as shown below:

In [20]:
fifth_age = df.loc[5,"Age"]
print(fifth_age)

21.0

Finally, the same syntax can be used to select multiple rows **and** columns at the same time; you simply need to provide a list or range of rows, followed by a list of column names, separated by a comma.

Let's get the first 4 rows, for columns 'Age' and 'Moving_Times':

In [21]:
multi_row_and_col = df.loc[1:4,["Age", "Moving_Times"]]
display(multi_row_and_col)

              Age Moving_Times
Response_ID
1            20.0            1
2            20.0            1
3            21.0            5
4            19.0            1

## Exercise 1

Write code to fetch the following data:
1. The Hometown in the 10th row
2. The Parental_Income and Race_Ethnicity for rows 100 through 110
3. The School_Year in rows 8, 42, 47, and 99

(Note: each problem should be solved with a *single* indexing operation; for example, you should not need 4 separate indexing operations to answer question 3)

In [ ]:
# Write your answers here

## 6. Summarizing column data
Previously, we sanity checked our data by checking its structure (data types and number of rows and columns). A second common step in preliminary exploration of the data is to examine individual columns (with the help of indexing, as covered previously). pandas can help with this process by offering several methods to *summarize* the data in a column.

### Summarizing numerical data
Some columns contain numerical data. For example, ages in the "Age" column are represented as numbers. For numerical data, pandas offers a number of methods that implement common mathematical summary functions, such as finding the min and the max. We can use these, for instance, to find out who the youngest and oldest participants in the survey were:

In [22]:
print(df["Age"].min()) # what's the age of the youngest participant?
print(df["Age"].max()) # what's the age of the oldest participant?

16.0
36.0

### Summarizing categorical data
Mathematical operations like min and max are useful for quickly summarizing numerical data. But not all columns are numerical. For example, the "College" column contains text. But notice that the text in the "College" column is not just any arbitrary text! It only has specific, fixed values, because in the original survey this was a multiple-choice question. Therefore, "College" is what data scientists refer to as a *categorical variable*: one that can only take on values from a fixed, finite set of possibilities. To summarize categorical data, researchers generally want to know what is the set of values the variable can take. In pandas, this can be done using the `unique` method:

In [24]:
print(df["College"].unique())

['College of Human Ecology' 'College of Agriculture and Life Sciences'
 'College of Arts and Sciences' 'College of Engineering'
 'School of Industrial and Labor Relations'
 'SC Johnson College of Business' nan
 'College of Architecture, Art and Planning' 'Weill Cornell Medicine']

## Exercise 2

- What are the possible values for "Self_Confidence" and "Parental_Income"?

In [ ]:
print(____________) # fill in your code for Self_Confidence here
print(____________) # fill in your code for Parental_Income here

## 7. Querying using conditions based on column values

Now we can start looking at more advanced data analysis. Previously, we selected subsets of rows by giving the `loc` indexer a list or range of row indices. Most often, however, we don't know ahead of time which rows we want to analyze; instead, we more often want to select rows based on some conditions. For example, if we were interested in studying how undergraduate freshmen specifically answered our survey, we would want to select only the rows where "School_Year" is "1st year undergraduate". To achieve this, the `loc` indexer can actually be used with conditions, not just with indices! 

This is best explained through examples. Let's start with the example just discussed, selecting only rows representing undergraduate freshmen. The syntax for the comparison would be `df['School_Year'] == "1st year undergraduate`, and we can pass this comparison directly to `loc`, as follows:

In [26]:
freshmen = df.loc[df['School_Year'] == "1st year undergraduate"]
display(freshmen)

,Time_Stamp,Year,Month,Hunger_Experience,Moving_Times,Self_Confidence,Hometown,Age,Parental_Income,Race_Ethnicity,School_Year,Transfer_Student,College,Gender_Identity,Sex,Living_Location,Unnamed: 17
Response_ID,,,,,,,,,,,,,,,,,
6,4/15/2021 14:30,2021,April,No,2,Agree strongly,Shanghai (China) 200127,18.0,"$175,000 - $299,999",Asian,1st year undergraduate,No,College of Engineering,Woman,Female,Off campus,NaN
14,4/16/2021 10:58,2021,April,No,1,Disagree slightly,"Horseheads, NY 14845",19.0,"$100,000 - $174,999","White (of European descent),Black",1st year undergraduate,No,College of Human Ecology,Woman,Female,On campus,NaN
26,4/22/2021 14:16,2021,April,No,1,Don't know / not applicable,"Horseheads, New York 14845",19.0,"$100,000 - $174,999","White (of European descent),Black",1st year undergraduate,No,College of Human Ecology,Woman,Female,On campus,NaN
30,4/22/2021 23:45,2021,April,No,0,Agree strongly,"Sinamangal, Kathmandu",19.0,"Below $40,000",Asian,1st year undergraduate,No,College of Arts and Sciences,Man,Male,Off campus,NaN
42,4/25/2021 13:03,2021,April,No,0,Don't know / not applicable,"St. George, Utah 84790",18.0,"$100,000 - $174,999",White (of European descent),1st year undergraduate,No,College of Human Ecology,Woman,Female,On campus,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
873,5/7/2022 19:17,2022,May,No,1,Agree slightly,"Bainbridge Island, Washington 98110",19.0,"$300,000 - $499,999","American Indian or Alaskan Native,Asian,Pacifi...",1st year undergraduate,No,School of Industrial and Labor Relations,Man,Male,On campus,NaN
879,5/9/2022 21:10,2022,May,No,1,Don't know / not applicable,"Los Angeles, California 90066",18.0,"$500,000 - $749,999","White (of European descent),Middle Eastern",1st year undergraduate,No,College of Arts and Sciences,Man,Male,On campus,NaN
890,5/16/2022 22:07,2022,May,No,5,Agree somewhat,"Albany, New York, 12202",18.0,"$60,000 - $99,999",Black,1st year undergraduate,No,College of Arts and Sciences,Man,Male,On campus,NaN
895,5/19/2022 17:17,2022,May,No,2,Agree somewhat,"Boca Raton, Florida 33496",19.0,"$175,000 - $299,999","White (of European descent),Hispanic,Middle Ea...",1st year undergraduate,No,College of Arts and Sciences,Woman,Female,On campus,NaN
897,5/20/2022 7:13,2022,May,No,1,Agree slightly,"Guangzhou, Guangdong, China 510335",19.0,"$300,000 - $499,999",Asian,1st year undergraduate,No,College of Human Ecology,Woman,Female,On campus,NaN

Notice that this syntax is similar to the filtering syntax used by numpy (as seen in the previous Python workshop) and by R. Alternatively, if you are familiar with SQL, you can think of the above code as being equivalent to the SQL query `select * from df where School_Year="1st year undergraduate"`.

Like in numpy, you can include multiple comparisons in a single query, combining them using operators `&` for "and" and `|` for "or". So, for example, if we wanted only responses from freshmen *or* sophomores:

In [27]:
fresh_soph = df.loc[(df['School_Year']=="1st year undergraduate")|(df['School_Year']=="2nd year undergraduate")]
display(fresh_soph)

,Time_Stamp,Year,Month,Hunger_Experience,Moving_Times,Self_Confidence,Hometown,Age,Parental_Income,Race_Ethnicity,School_Year,Transfer_Student,College,Gender_Identity,Sex,Living_Location,Unnamed: 17
Response_ID,,,,,,,,,,,,,,,,,
1,4/14/2021 19:43,2021,April,No,1,Agree slightly,"Coconut Grove, Florida 33133",20.0,"More than $750,000",White (of European descent),2nd year undergraduate,No,College of Human Ecology,Woman,Female,Off campus,NaN
4,4/15/2021 14:01,2021,April,No,1,Agree slightly,"Rye Brook, New York 10573",19.0,"More than $750,000",White (of European descent),2nd year undergraduate,No,College of Human Ecology,Woman,Female,On campus,NaN
6,4/15/2021 14:30,2021,April,No,2,Agree strongly,Shanghai (China) 200127,18.0,"$175,000 - $299,999",Asian,1st year undergraduate,No,College of Engineering,Woman,Female,Off campus,NaN
14,4/16/2021 10:58,2021,April,No,1,Disagree slightly,"Horseheads, NY 14845",19.0,"$100,000 - $174,999","White (of European descent),Black",1st year undergraduate,No,College of Human Ecology,Woman,Female,On campus,NaN
15,4/16/2021 17:52,2021,April,No,2,Agree slightly,No,19.0,"$40,000 - $59,999",White (of European descent),2nd year undergraduate,No,School of Industrial and Labor Relations,Man,Male,On campus,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
887,5/11/2022 21:20,2022,May,No,3,Agree slightly,"West New York, NJ 07047",19.0,"Below $40,000",Hispanic,2nd year undergraduate,No,College of Human Ecology,Woman,Female,On campus,NaN
890,5/16/2022 22:07,2022,May,No,5,Agree somewhat,"Albany, New York, 12202",18.0,"$60,000 - $99,999",Black,1st year undergraduate,No,College of Arts and Sciences,Man,Male,On campus,NaN
895,5/19/2022 17:17,2022,May,No,2,Agree somewhat,"Boca Raton, Florida 33496",19.0,"$175,000 - $299,999","White (of European descent),Hispanic,Middle Ea...",1st year undergraduate,No,College of Arts and Sciences,Woman,Female,On campus,NaN
896,5/19/2022 19:26,2022,May,Yes,4,Agree somewhat,"Harrison, New York, 10528",20.0,"$175,000 - $299,999",Hispanic,2nd year undergraduate,Yes,College of Human Ecology,Woman,Female,On campus,NaN
897,5/20/2022 7:13,2022,May,No,1,Agree slightly,"Guangzhou, Guangdong, China 510335",19.0,"$300,000 - $499,999",Asian,1st year undergraduate,No,College of Human Ecology,Woman,Female,On campus,NaN

And if we wanted responses only from freshmen in the College of Human Ecology:

In [28]:
eco_fresh = df.loc[(df['School_Year']=="1st year undergraduate")&(df['College']=="College of Human Ecology")]
display(eco_fresh)

,Time_Stamp,Year,Month,Hunger_Experience,Moving_Times,Self_Confidence,Hometown,Age,Parental_Income,Race_Ethnicity,School_Year,Transfer_Student,College,Gender_Identity,Sex,Living_Location,Unnamed: 17
Response_ID,,,,,,,,,,,,,,,,,
14,4/16/2021 10:58,2021,April,No,1,Disagree slightly,"Horseheads, NY 14845",19.0,"$100,000 - $174,999","White (of European descent),Black",1st year undergraduate,No,College of Human Ecology,Woman,Female,On campus,NaN
26,4/22/2021 14:16,2021,April,No,1,Don't know / not applicable,"Horseheads, New York 14845",19.0,"$100,000 - $174,999","White (of European descent),Black",1st year undergraduate,No,College of Human Ecology,Woman,Female,On campus,NaN
42,4/25/2021 13:03,2021,April,No,0,Don't know / not applicable,"St. George, Utah 84790",18.0,"$100,000 - $174,999",White (of European descent),1st year undergraduate,No,College of Human Ecology,Woman,Female,On campus,NaN
49,4/26/2021 14:05,2021,April,No,2,Agree somewhat,"San Diego, CA 92129",18.0,"$300,000 - $499,999",Asian,1st year undergraduate,No,College of Human Ecology,Woman,Female,On campus,NaN
62,4/29/2021 8:01,2021,April,Yes,1,Agree slightly,"Scarsdale, NY 10583",18.0,"More than $750,000","White (of European descent),Unknown",1st year undergraduate,No,College of Human Ecology,Man,Male,On campus,NaN
87,5/3/2021 11:37,2021,May,No,1,Agree slightly,"New Rochelle, NY 10804",20.0,"$175,000 - $299,999",White (of European descent),1st year undergraduate,No,College of Human Ecology,Woman,Female,On campus,NaN
95,5/3/2021 21:05,2021,May,No,0,Agree slightly,"Secaucus, New Jersey 07094",18.0,"$100,000 - $174,999",White (of European descent),1st year undergraduate,No,College of Human Ecology,Woman,Female,On campus,NaN
96,5/3/2021 22:17,2021,May,No,1,Disagree slightly,"Port Washington, New York 11050",19.0,"More than $750,000",White (of European descent),1st year undergraduate,No,College of Human Ecology,Woman,Female,On campus,NaN
116,5/6/2021 14:46,2021,May,No,1,Disagree slightly,"Orleans, Massachusetts 02653",19.0,"$175,000 - $299,999",White (of European descent),1st year undergraduate,No,College of Human Ecology,Woman,Female,On campus,NaN
120,5/7/2021 7:41,2021,May,No,3,Agree slightly,"Upper East Side, Manhattan, New York City, 10075",18.0,"$500,000 - $749,999",Hispanic,1st year undergraduate,No,College of Human Ecology,Woman,Female,Off campus,NaN
130,5/7/2021 21:28,2021,May,No,1,Don't know / not applicable,"Durham, North Carolina 27713",19.0,"Below $40,000",Asian,1st year undergraduate,No,College of Human Ecology,Woman,Female,Off campus,NaN
159,5/10/2021 15:08,2021,May,No,1,Agree slightly,"Bloomfield Hills, Michigan 48302",18.0,"$500,000 - $749,999",White (of European descent),1st year undergraduate,No,College of Human Ecology,Woman,Female,On campus,NaN
186,5/11/2021 17:17,2021,May,No,0,Agree somewhat,"Tegucigalpa, Honduras 11101",19.0,"$40,000 - $59,999",Hispanic,1st year undergraduate,No,College of Human Ecology,Woman,Female,On campus,NaN
229,5/13/2021 22:16,2021,May,No,1,Disagree slightly,"Ithaca, New York, 14853",19.0,"Below $40,000",Asian,1st year undergraduate,No,College of Human Ecology,Man,Male,On campus,NaN
243,5/14/2021 2:37,2021,May,No,7,Agree slightly,"Dogokdong, Seoul, 06294",19.0,"$175,000 - $299,999",Asian,1st year undergraduate,No,College of Human Ecology,Man,Male,Off campus,NaN
247,5/13/2021 19:15,2021,May,No,1,Disagree somewhat,"Roslyn, New York 11576",18.0,"$500,000 - $749,999",White (of European descent),1st year undergraduate,No,College of Human Ecology,Woman,Female,On campus,NaN
269,5/14/2021 10:42,2021,May,No,2,Don't know / not applicable,"Modesto, California 95356",19.0,"$500,000 - $749,999",Asian,1st year undergraduate,No,College of Human Ecology,Woman,Female,On campus,NaN
324,5/20/2021 11:58,2021,May,No,1,Disagree slightly,"Wilmette, Illinois, 60091",19.0,"More than $750,000",White (of European descent),1st year undergraduate,No,College of Human Ecology,Woman,Female,On campus,NaN
454,9/23/2021 16:10,2021,September,No,1,Agree slightly,New Rochelle New York 10804,18.0,"$300,000 - $499,999",White (of European descent),1st year undergraduate,No,College of Human Ecology,Woman,Female,On campus,NaN
471,9/28/2021 17:40,2021,September,Yes,3,Don't know / not applicable,"Changchun, Jilin Province, China",19.0,"$60,000 - $99,999",Asian,1st year undergraduate,No,College of Human Ecology,Woman,Female,On campus,NaN
477,9/30/2021 10:04,2021,September,No,5,Agree slightly,"Hong Kong, China",18.0,"$300,000 - $499,999",Asian,1st year undergraduate,No,College of Human Ecology,Woman,Female,On campus,NaN
492,10/4/2021 12:51,2021,October,No,1,Agree slightly,"Bellerose Village, NY 11001",18.0,"$500,000 - $749,999","White (of European descent),Asian,Mixed Race",1st year undergraduate,No,College of Human Ecology,Woman,Female,On campus,NaN
510,10/12/2021 13:06,2021,October,No,3,Agree slightly,"New York, New York 10038",18.0,"$500,000 - $749,999",Asian,1st year undergraduate,No,College of Human Ecology,Woman,Female,On campus,NaN
535,10/20/2021 8:22,2021,October,No,3,Agree slightly,"Shanghai, China, 200060",18.0,"$500,000 - $749,999",Asian,1st year undergraduate,No,College of Human Ecology,Woman,Female,On campus,NaN
538,10/20/2021 8:16,2021,October,No,3,Agree strongly,"Newnan, Georgia 30263",18.0,"$100,000 - $174,999",White (of European descent),1st year undergraduate,No,College of Human Ecology,Woman,Female,On campus,NaN
543,10/24/2021 12:54,2021,October,No,1,Agree slightly,"Songdo, Incheon, 22003",18.0,"More than $750,000",Asian,1st year undergraduate,No,College of Human Ecology,Woman,Female,On campus,NaN
549,10/25/2021 13:04,2021,October,No,1,Agree somewhat,"San Diego, California 92173",18.0,"Below $40,000",Hispanic,1st year undergraduate,No,College of Human Ecology,Woman,Female,On campus,NaN
553,10/26/2021 8:33,2021,October,No,7,Disagree slightly,"New Brunswick, NJ 08901",18.0,"Below $40,000",Asian,1st year undergraduate,No,College of Human Ecology,Woman,Female,On campus,NaN
564,11/1/2021 11:29,2021,November,No,0,Don't know / not applicable,"Atlanta, Georgia 30327",18.0,"$175,000 - $299,999",White (of European descent),1st year undergraduate,No,College of Human Ecology,Woman,Female,On campus,NaN
569,11/2/2021 14:09,2021,November,No,0,Disagree slightly,"Essex, Vermont 05452",18.0,"$175,000 - $299,999",White (of European descent),1st year undergraduate,No,College of Human Ecology,Man,Male,On campus,NaN
574,11/5/2021 20:20,2021,November,No,2,Don't know / not applicable,"Shanghai, China; Princeton, NJ 08540",19.0,"More than $750,000",Asian,1st year undergraduate,No,College of Human Ecology,Woman,Female,On campus,NaN
580,11/8/2021 12:33,2021,November,No,3,Agree slightly,Shenzhen Guangdong China,19.0,"$100,000 - $174,999",Asian,1st year undergraduate,No,College of Human Ecology,Gender non-conforming,Female,On campus,NaN
587,11/10/2021 6:35,2021,November,No,1,Don't know / not applicable,"New York City, New York 10128",18.0,"More than $750,000",White (of European descent),1st year undergraduate,No,College of Human Ecology,Man,Male,On campus,NaN
595,11/12/2021 13:03,2021,November,No,1,Agree somewhat,"Harrison, New York 10528",18.0,"$100,000 - $174,999","White (of European descent),Asian,Pacific Isla...",1st year undergraduate,No,College of Human Ecology,Woman,Female,On campus,NaN
603,11/14/2021 15:40,2021,November,Don't know,1,Agree strongly,"Boston, MA 02119",18.0,"Below $40,000",Black,1st year undergraduate,No,College of Human Ecology,Woman,Female,On campus,NaN
606,11/15/2021 19:09,2021,November,No,3,Don't know / not applicable,"Tenafly, NJ, 07670",18.0,"More than $750,000",White (of European descent),1st year undergraduate,No,College of Human Ecology,Woman,Female,On campus,NaN
607,11/15/2021 21:41,2021,November,No,3,Disagree slightly,Shanghai,18.0,"More than $750,000",Asian,1st year undergraduate,No,College of Human Ecology,Woman,Female,On campus,NaN
615,11/16/2021 21:20,2021,November,No,0,Agree slightly,"new hyde park, new york,11040",18.0,"$100,000 - $174,999",Asian,1st year undergraduate,No,College of Human Ecology,Man,Male,On campus,NaN
625,11/18/2021 21:12,2021,November,No,2,Disagree slightly,"Snellville,Georgia,30039",18.0,"Below $40,000",Black,1st year undergraduate,No,College of Human Ecology,Woman,Female,On campus,NaN
629,11/20/2021 16:09,2021,November,No,2,Agree somewhat,"New York, New York 10028",19.0,"More than $750,000","White (of European descent),Hispanic",1st year undergraduate,No,College of Human Ecology,Woman,Female,On campus,NaN
639,11/23/2021 22:51,2021,November,No,0,Disagree slightly,New york ny 10028,19.0,"$175,000 - $299,999",White (of European descent),1st year undergraduate,No,College of Human Ecology,Woman,Female,On campus,NaN
672,11/29/2021 20:02,2021,November,No,2,Agree somewhat,"La Canada, CA 91011",18.0,"Below $40,000",Asian,1st year undergraduate,No,College of Human Ecology,Woman,Female,On campus,NaN
677,11/30/2021 15:32,2021,November,No,4,Agree slightly,"Williston Park, New York 11596",18.0,"$175,000 - $299,999",Asian,1st year undergraduate,No,College of Human Ecology,Man,Male,On campus,NaN
680,11/30/2021 20:16,2021,November,No,4,Agree slightly,Hong Kong,19.0,"$500,000 - $749,999",Asian,1st year undergraduate,No,College of Human Ecology,Man,Male,On campus,NaN
693,12/1/2021 19:02,2021,December,No,0,Agree slightly,"Coral Springs, Florida, 33076",18.0,"$100,000 - $174,999",Hispanic,1st year undergraduate,No,College of Human Ecology,Woman,Female,On campus,NaN
719,12/4/2021 11:17,2021,December,No,0,Agree slightly,"Southampton, NY, 11968",18.0,"More than $750,000",White (of European descent),1st year undergraduate,No,College of Human Ecology,Woman,Female,On campus,NaN
723,12/4/2021 17:06,2021,December,No,1,Disagree slightly,"silver spring, md , 20904",19.0,"$60,000 - $99,999",Black,1st year undergraduate,No,College of Human Ecology,Woman,Female,On campus,NaN
790,12/7/2021 21:51,2021,December,Yes,5,Agree strongly,"Boynton Beach, FL",19.0,"$60,000 - $99,999",Black,1st year undergraduate,No,College of Human Ecology,Woman,Female,On campus,NaN
800,12/9/2021 13:15,2021,December,No,7,Don't know / not applicable,Austin Texas 78746,19.0,"$100,000 - $174,999",White (of European descent),1st year undergraduate,No,College of Human Ecology,Woman,Female,On campus,NaN
802,12/9/2021 18:14,2021,December,No,0,Don't know / not applicable,"Ithaca, New York `4850",18.0,"More than $750,000","Hispanic,Asian",1st year undergraduate,No,College of Human Ecology,Gender non-conforming,Male,Off campus,NaN
811,12/10/2021 17:12,2021,December,No,3,Don't know / not applicable,"Carrollton, TX 75007",18.0,"$100,000 - $174,999",Black,1st year undergraduate,No,College of Human Ecology,Woman,Female,On campus,NaN
828,12/12/2021 10:53,2021,December,No,2,Agree somewhat,"Wellesley, Massachusetts 02481",20.0,"$175,000 - $299,999",White (of European descent),1st year undergraduate,No,College of Human Ecology,Woman,Female,Off campus,NaN
852,4/18/2022 7:46,2022,April,No,1,Disagree slightly,"Bellevue, Washington 98005",19.0,"$175,000 - $299,999",Middle Eastern,1st year undergraduate,No,College of Human Ecology,Man,Male,On campus,NaN
897,5/20/2022 7:13,2022,May,No,1,Agree slightly,"Guangzhou, Guangdong, China 510335",19.0,"$300,000 - $499,999",Asian,1st year undergraduate,No,College of Human Ecology,Woman,Female,On campus,NaN

Notice that when we run a query, the matching rows get returned in a new DataFrame, which is a subset of the original, containing only rows that matched the query. We can confirm that the result is still a DataFrame by checking the type of the variable:

In [29]:
type(eco_fresh)

pandas.core.frame.DataFrame

This means that we can run all of the previously described DataFrame methods on the query results! For example, this can be useful for finding out how many rows matched the query:

In [30]:
print(len(eco_fresh.index)) # we can use the same code we saw earlier for counting rows, because eco_fresh is still a DataFrame

54

## Exercise 3

How many freshmen in the data have experienced hunger (i.e., answered "Yes" for Hunger_Experience)?

In [ ]:
fresh_hunger = df.loc[______________] # first, fill in your query here
print(_____________) # then, fill in the code to count the number of rows

## Exercise 4
Do more seniors live on-campus or off-campus?

(Hint: you will need to run two queries)

In [ ]:
# Write your solution below

## 8. Modifying and adding rows
Queries aren't just useful for accessing data; we may sometimes also want to *modify* data that matches a query! One common reason to do this is for data preprocessing. Let's consider an example that's quite common in survey work. The "Self_Confidence" column contains answers to a multiple-choice question meant to represent a scale of *intensity*, with seven options representing increasing levels of confidence: "Disagree strongly", "Disagree somewhat", "Disagree slightly", "Don't know / not applicable", "Agree slightly", "Agree somewhat", and "Agree strongly". We might wish to turn this into a numerical Likert Scale, with values from 0 to 6 where 0 is "Disagree strongly" and 6 is "Agree strongly". This is commonly done in social science research to enable more quantitative comparisons of responses on scale-based questions like this one.

Let's consider one step in this Likert scale conversion, changing "Disagree strongly" to 0. We can achieve this with the following steps:

1. Write a query to find all instances of the thing you want to preprocess (in this case, rows where the Self_Confidence is "Disagree strongly") (See Section 7)
2. Use row-and-column indexing to combine this query (which selects certain rows) with column selection (See Section 5)
3. Use Python assigment syntax (the "=" operator) to set the new value (in this case, 0)

Now let's look at the code for these steps:

In [33]:
# Step 1: the query syntax for selecting rows where Self_Confidence is "Disagree strongly"
query = (df["Self_Confidence"] == "Disagree strongly")
# Step 2 and 3: row-and-column indexing followed by new value assignment
df.loc[query,"Self_Confidence"] = 0

In [36]:
# To confirm that it worked, show that there now exist some rows where "Self_Confidence" is 0
print(len(df.loc[df["Self_Confidence"] == 0].index))

10

Note that although for clearer illustration we split the code into multiple lines to correspond to the multiple steps, in practice most pandas users will do the entire operation in a single line of code (this concision is part of what makes pandas so powerful!). Thus, the following single line of code would have been equivalent to what we did above:

In [ ]:
df.loc[(df["Self_Confidence"] == "Disagree strongly"),"Self_Confidence"] = 0

## Exercise 5
Repeat this process to convert the remaining 6 response options. The conversions should be as follows:
- Disagree somewhat --> 1
- Disagree slightly --> 2
- Don't know / not applicable --> 3
- Agree slightly --> 4
- Agree somewhat --> 5
- Agree strongly --> 6

In [37]:
# Write your code below


# Once you've finished your solution, the following code should be 
# able to run successfully now that Self_Confidence contains numerical data
print(df["Self_Confidence"].mean())

In this example, we *replaced* values in an existing column. But there are other cases where instead, you might want to preserve the original data, and instead put the cleaned data in a new column. pandas lets us do this too! As an example, let's consider the "Moving_Times" column. The data in this column counts how many times the survey participant has moved prior to taking the survey. You may imagine that for some research questions we don't necessarily care about the exact number of moving times, but instead only need to know whether the survey participant has moved at all (a boolean value). But this does not mean we want to completely replace the "Moving_Times" column, because for *other* research questions we might actually care about the exact number of moving times! So instead, we might want to create a *new* column that contains the simplified information of whether or not a survey participant has moved.

We will start by creating a new column, let's call it "Has_Moved". Initially, we'll create the column as a copy of "Moving_Times"; we can then modify it (using code similar to what we did previously for "Self_Confidence") without affecting the original column. To create a new column, we can simply use Python assigment syntax:

In [49]:
df["Has_Moved"] = pd.to_numeric(df["Moving_Times"], errors='coerce')
display(df)

,Time_Stamp,Year,Month,Hunger_Experience,Moving_Times,Self_Confidence,Hometown,Age,Parental_Income,Race_Ethnicity,School_Year,Transfer_Student,College,Gender_Identity,Sex,Living_Location,Unnamed: 17,Has_Moved
Response_ID,,,,,,,,,,,,,,,,,,
1,4/14/2021 19:43,2021,April,No,1,4,"Coconut Grove, Florida 33133",20.0,"More than $750,000",White (of European descent),2nd year undergraduate,No,College of Human Ecology,Woman,Female,Off campus,NaN,1.0
2,4/15/2021 11:30,2021,April,No,1,4,"Brooklyn, New York 11225",20.0,"Below $40,000",Black,3rd year undergraduate,No,College of Human Ecology,Woman,Female,Off campus,NaN,1.0
3,4/15/2021 13:00,2021,April,No,5,5,"Roslyn Heights, New York 11577",21.0,"More than $750,000",Asian,3rd year undergraduate,No,College of Agriculture and Life Sciences,Woman,Female,Off campus,NaN,5.0
4,4/15/2021 14:01,2021,April,No,1,4,"Rye Brook, New York 10573",19.0,"More than $750,000",White (of European descent),2nd year undergraduate,No,College of Human Ecology,Woman,Female,On campus,NaN,1.0
5,4/15/2021 14:31,2021,April,No,0,5,"San Antonio, Texas 78218",21.0,"$100,000 - $174,999","White (of European descent),Hispanic",4th year undergraduate,No,College of Arts and Sciences,Woman,Female,Off campus,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
895,5/19/2022 17:17,2022,May,No,2,5,"Boca Raton, Florida 33496",19.0,"$175,000 - $299,999","White (of European descent),Hispanic,Middle Ea...",1st year undergraduate,No,College of Arts and Sciences,Woman,Female,On campus,NaN,2.0
896,5/19/2022 19:26,2022,May,Yes,4,5,"Harrison, New York, 10528",20.0,"$175,000 - $299,999",Hispanic,2nd year undergraduate,Yes,College of Human Ecology,Woman,Female,On campus,NaN,4.0
897,5/20/2022 7:13,2022,May,No,1,4,"Guangzhou, Guangdong, China 510335",19.0,"$300,000 - $499,999",Asian,1st year undergraduate,No,College of Human Ecology,Woman,Female,On campus,NaN,1.0
898,5/19/2022 17:22,2022,May,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
899,5/19/2022 8:42,2022,May,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

We see that there is now a new column "has_answer" that is an exact copy of "accepted_id". Next we will modify it as follows: rows containing nonzero values will be set to 1, representing that the participant has moved (rows containing zero will not need to be changed, as they will remain as 0)

In [50]:
df.loc[(df['Has_Moved'] > 0), 'Has_Moved'] = 1
display(df)

,Time_Stamp,Year,Month,Hunger_Experience,Moving_Times,Self_Confidence,Hometown,Age,Parental_Income,Race_Ethnicity,School_Year,Transfer_Student,College,Gender_Identity,Sex,Living_Location,Unnamed: 17,Has_Moved
Response_ID,,,,,,,,,,,,,,,,,,
1,4/14/2021 19:43,2021,April,No,1,4,"Coconut Grove, Florida 33133",20.0,"More than $750,000",White (of European descent),2nd year undergraduate,No,College of Human Ecology,Woman,Female,Off campus,NaN,1.0
2,4/15/2021 11:30,2021,April,No,1,4,"Brooklyn, New York 11225",20.0,"Below $40,000",Black,3rd year undergraduate,No,College of Human Ecology,Woman,Female,Off campus,NaN,1.0
3,4/15/2021 13:00,2021,April,No,5,5,"Roslyn Heights, New York 11577",21.0,"More than $750,000",Asian,3rd year undergraduate,No,College of Agriculture and Life Sciences,Woman,Female,Off campus,NaN,1.0
4,4/15/2021 14:01,2021,April,No,1,4,"Rye Brook, New York 10573",19.0,"More than $750,000",White (of European descent),2nd year undergraduate,No,College of Human Ecology,Woman,Female,On campus,NaN,1.0
5,4/15/2021 14:31,2021,April,No,0,5,"San Antonio, Texas 78218",21.0,"$100,000 - $174,999","White (of European descent),Hispanic",4th year undergraduate,No,College of Arts and Sciences,Woman,Female,Off campus,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
895,5/19/2022 17:17,2022,May,No,2,5,"Boca Raton, Florida 33496",19.0,"$175,000 - $299,999","White (of European descent),Hispanic,Middle Ea...",1st year undergraduate,No,College of Arts and Sciences,Woman,Female,On campus,NaN,1.0
896,5/19/2022 19:26,2022,May,Yes,4,5,"Harrison, New York, 10528",20.0,"$175,000 - $299,999",Hispanic,2nd year undergraduate,Yes,College of Human Ecology,Woman,Female,On campus,NaN,1.0
897,5/20/2022 7:13,2022,May,No,1,4,"Guangzhou, Guangdong, China 510335",19.0,"$300,000 - $499,999",Asian,1st year undergraduate,No,College of Human Ecology,Woman,Female,On campus,NaN,1.0
898,5/19/2022 17:22,2022,May,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
899,5/19/2022 8:42,2022,May,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 9. Fine-grained analysis using groupby
In section 6, we showed how to summarize data from an *entire* column, such as taking the min and max of numerical data. This is useful for initial exploration, but when tackling actual research questions, we often want to do more complicated operations involving interactions between multiple variables. For example, instead of just finding the earliest year in the data, we might be interested in finding the earliest year each tag first appeared. Using what we have learned so far, one way to do this would be to use queries: for each tag, you could write a query to select only the rows containing that tag, and call the `min` method each time. But this is extremely tedious, given that there are so many tags in the data! Thankfully, pandas offers a faster alternative: `groupby`.

The `groupby` method can be thought of a splitting a DataFrame based on some categorical variable. For example, if we use `groupby` on the "tag" column, we'll have one group containing rows tagged ".htaccess", another containing rows tagged "python", and so on, for every unique tag. Now, if we just run `groupby` on its own, we won't immediately see anything useful:

In [ ]:
df_grouped = df.groupby("tag")
display(df_grouped) # prints out some strange code that isn't super useful...

But the key difference happens when we call summarization methods on the grouped variable. Instead of running the summarization on the entire data, as happens normally, the summarization will be run separately on each group! Let's try using the `min` summarization method on "year" in the grouped data:

In [ ]:
display(df_grouped['year'].min()) # we can use the same indexing and summarization syntax as we did for regular DataFrames, but the operation now happens separately for each group!

As we can see, instead of a single minimum, we get multiple: one for each group! Specifically, we are seeing the earliest year each tag first appeared. We can immediately see how this might be useful for tracking trends; for example, questions tagged ".htaccess" started in 2010, while questions tagged ".htpasswd" didn't start until 2019. This might suggest, for example, that .htpasswd is a newer tag.

There are other kinds of summarization methods that can be useful when combined with `groupby`. Here are just a few examples:

In [ ]:
# The count() method counts the total number of unique items in a column.
# When combined with groupby, the counting will happen separately per group.
# Let's try using it to find out how many questions happened per year (by counting the number of unique question IDs per year group)
df_grouped = df.groupby("year")
display(df_grouped["id"].count())

In [ ]:
# The sum() method computes the sum of all items in a column
# When combined with groupby, sums are computed separately per group
# Let's try using it to find out how many questions were answered per year.
df_grouped = df.groupby("year")
display(df_grouped["has_answer"].sum())

Finally, note that it is possible to group on multiple columns at once! This will create a group for each unique pair of possible values in the two columns. For example, we might be interested not just in years, but in specific year-month combinations:

In [ ]:
df_grouped = df.groupby(["year", "month"])
display(df_grouped["id"].count())